
FootballWorldCupScoreBoard/.vs/FootballWorldCupScoreBoard/v17/TestStore/0/000.testlog
FootballWorldCupScoreBoard/.vs/FootballWorldCupScoreBoard/FileContentIndex/0f8616b0-0992-4b19-ad89-24d8b145f44f.vsidx
FootballWorldCupScoreBoard/.vs/FootballWorldCupScoreBoard/FileContentIndex/09fcaf7f-5618-4a1a-84f4-eeb24355e06d.vsidx
FootballWorldCupScoreBoard/.vs/FootballWorldCupScoreBoard/v17/TestStore/0/000.testlog
